<!DOCTYPE html>
<base href="{{ @\Utils::getBaseUrl()}}" />
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>README</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">	
	<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

	<link href="ui/css/theme.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-114x114.png">


</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">README <span class="byline"> a blog platform for developers</span></a>		
			</div>
		</div>
	</div>

	<div class="container-fluid">
		 <check if="{{ isset(@SESSION.success)}}">
	            <div class="alert alert-success">
	                <a class="close" data-dismiss="alert" href="#">x</a>{{@SESSION.success}}
	            </div>      
	        </check>
	        <check if="{{ isset(@SESSION.fail)}}">
	            <div class="alert alert-error">
	                <a class="close" data-dismiss="alert" href="#">x</a>{{@SESSION.fail}}
	            </div>      
	        </check>
		<div class="row">
			<div class="span2">
				<div class="sidebar-nav">
					<div class="well">
						<ul class="nav nav-list"> 
						  <li class="nav-header">Admin Menu</li>        
						  <li><a href="admin/create"><i class="icon-pencil"></i> New Post</a></li>
						  <li><a href="logout"><i class="icon-share"></i> Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span9">
				<div class="span9 well">
				   <div id="epiceditor" style="height: 600px; margin-bottom: 20px;"></div>
				   <a href="#" role="button" class="btn btn-primary" id="saveButton">Save</a>
				   <form class="hide" id="postForm" method="POST" action="admin/newpost">
				   		<textarea id="postBody" name="post"><!-- --></textarea>
				   </form>
				</div>
			</div>
		</div><!--/row-->
	  	<hr>
		<footer>
			<p>&copy; 3Bound Studios 2013</p>
		</footer>
	</div><!--/.fluid-container-->
		 
	<!-- Modal -->
<!-- Button to trigger modal -->
 
<!-- Modal -->
	


	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-transition.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-alert.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-modal.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-dropdown.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-scrollspy.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tab.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tooltip.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-popover.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-button.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-collapse.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-carousel.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-typeahead.js"></script>
	<script src="ui/js/epiceditor.min.js"></script>

	<script>
	var opts = {
		basePath: '../ui'
	};
	var editor = new EpicEditor(opts).load();

	$('#saveButton').click(function (evt) {
		evt.preventDefault();
  		var theContent = editor.exportFile();
  		$('#postBody').val(theContent);
  		$('#postForm').submit();
  	});

	</script>

</body>
</html>