

/***** Custom *****/
* {
	font-family: Verdana, Helvetica, Arial;
	font-size: 12px;
	font-weight: normal;

}
.navbar .brand .byline {
	font-size: smaller;
}

body {
	background: #333;
}

div#content article {
	margin-bottom: 30px;
	color: #FEFCF6;
	padding-bottom: 20px;
	border-bottom: 1px dashed #666;
}

div#content article p {
	letter-spacing: 0em;
}

div#content article p.metadata {
	font-size: .8em;
}

div#content article h2 {
	border-bottom: 1px dotted #ccc;
	font-size: 1.2em;
	font-weight: normal;
}
